body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Hide horizontal scrollbar if needed */
  overflow-y: auto;
  background-image: url("BG.jpg");
  background-color: rgb(15, 14, 14);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
  min-height: 100vh; /* Ensure the body takes up at least the full viewport height */
}

.content {
  min-height: 100vh;
  max-width: 800px; /* Set the maximum width of your content */
  padding: 20px;
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Semi-transparent background color for the content area */
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw; /* Use viewport width to cover the visible area */
  height: 160vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

h1 {
  text-align: center;
  color: #4b371c;
}

.conditions p {
  align-content: center;
  align-items: center;
  display: block;
  left: 170px;
  width: 70%;
}

p {
  top: 50px;
  position: relative;
  margin: 20px;
  padding: 10px;
  z-index: 3;
}

.image-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  /* Adjust the height of the image wrapper as needed */
  z-index: 1; /* Set a higher z-index to bring the image to the front */
}

.image-wrapper img {
  display: block;
  width: 40%;
  height: 100%;
  object-fit: scale-down;
  margin-top: 50px;
}

form {
  z-index: 4;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  padding-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.7);
  position: relative; /* Required for positioning the pseudo-element */
}

form::before {
  content: "";
  position: relative;
  top: 0;
  left: -415px; /* Adjust this value to move the image further to the left */
  width: 407px;
  height: 99%;
  border-radius: 10px; /* Adding rounded corners */
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 100px;
}

/* #studentForm {
  border-radius: 20px;
  box-sizing: border-box;
  height: 00px;
  padding: 20px;
  width: 420px;
  margin-top: 20px;
  margin-bottom: 20px;
} */

label {
  display: block;
  margin-bottom: 5px;
  color: black; /* Updated */
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
}

select {
  padding-right: 30px;
  margin-right: 20px;
}

input[type="submit"] {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  text-align: center;
  transition: 0.3s;
}

input[type="submit"]:hover {
  background-color: #ffffff;
  color: #4e330a;
}

.image-wrapper4 img {
  display: flex;
  width: 30%;
  height: 30%;
  object-fit: scale-down;
}

.image-wrapper4 {
  position: absolute;
  top: 300px;
  left: 700px;
  width: 750px; /* Adjust the width of the image wrapper as needed */
  height: 110%; /* Adjust the height of the image wrapper as needed */
  z-index: 1;
  display: flex;
  flex: 1;
  float: right;
  justify-content: right;
  /* Adjust the height of the image wrapper as needed */
  /* Set a higher z-index to bring the image to the front */
}

#studentForm {
  position: relative;
  top: 50px;
}

/* @media only screen and (max-width: 600px) {
  form {
    max-width: 100%;
    width: auto;
  }

  .image-wrapper {
    display: none;
  }

  .image-wrapper4 {
    display: none;
  }
  body {
    overflow: hidden;
    background-size: cover;
    align-items: center;
    max-height: 100vh;
    height: fit-content;
  }


  body::before {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
  }
} */

@media only screen and (max-width: 1000px) {
  /* Hide form::before and form::after on smaller screens */
  form::before,
  form::after {
    display: none;
  }

  .conditions p {
    align-content: center;
    align-items: center;
    left: 10px;
    width: 80%;
  }

  p {
    top: 150px;
  }

  form {
    z-index: 4;
    max-height: 700px;
    max-width: 500px;
    width: 80%;
    height: 100%;
    margin: 10px;
    margin-bottom: 25px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    position: relative; /* Required for positioning the pseudo-element */
  }

  label {
    display: block;
    margin-bottom: 2px;
    color: black; /* Updated */
    font-weight: bold;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
  }

  #studentForm {
    top: 150px;
    border-radius: 20px;
    box-sizing: border-box;
  }

  .image-wrapper {
    display: none;
  }

  .image-wrapper4 {
    display: none;
  }
  body {
    background-color: rgb(15, 14, 14);
    overflow: auto;
    background-size: cover;
    align-items: center;
    max-height: 100vh;
    min-height: 10vh;
  }

  body::before {
    position: absolute;
    overflow: hidden;
    width: 100vw; /* Use viewport width to cover the visible area */
    height: 100vh; /* Use viewport height to cover the visible area */
  }

  input[type="submit"] {
    margin-bottom: 100px;
  }
}
