body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: hidden;
  background-image: url("BG.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  min-height: 100vh;
  position: relative;
  color: white;
}

.content {
  max-width: 800px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
}

.content h1 {
  margin-top: 20px; /* Add margin to the top of the h1 element */
}

body::before {
  content: "";
  position: fixed; /* Change to fixed to cover only the visible area */
  top: 0;
  left: 0;
  margin: 0;
  width: 100vw; /* Use viewport width to cover the visible area */
  height: 100vh; /* Use viewport height to cover the visible area */
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}
.main {
  position: absolute;
  justify-content: center;
  display: flex;
}
.heading {
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
}

.image-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  /* Adjust the height of the image wrapper as needed */
  z-index: 1; /* Set a higher z-index to bring the image to the front */
}

.image-wrapper img {
  display: block;
  width: 40%;
  height: 100%;
  object-fit: scale-down;
  margin-top: 50px;
}

.image-wrapper2 {
  position: absolute;
  margin-bottom: 2rem;
  width: 100%; /* Adjust the width of the image wrapper as needed */
  height: 1600px; /* Adjust the height of the image wrapper as needed */
  z-index: 1; /* Set a higher z-index to bring the image to the front */
}

.image-wrapper2 img {
  position: relative;
  display: flex;
  width: 100%;
  object-fit: scale-down;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 1%;
  bottom: 100px;
}

.image-wrapper4 {
  position: absolute;
  top: 300px;
  left: 700px;
  width: 750px; /* Adjust the width of the image wrapper as needed */
  height: 110%; /* Adjust the height of the image wrapper as needed */
  z-index: 1;
  display: flex;
  flex: 1;
  float: right;
  justify-content: right; /* Set a higher z-index to bring the image to the front */
}

.image-wrapper4 img {
  display: flex;
  width: 30%;
  height: 30%;
  object-fit: scale-down;
}

#formButton {
  position: relative;
  padding: 15px 30px;
  margin-top: 450px;
  font-size: 18px;
  background-color: #3498db;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  z-index: 4;
  margin-bottom: 20px;
  transition: 0.3s;
}

#formButton:hover {
  scale: 105%;
}

#demo {
  position: relative;
  color: yellowgreen;
  top: 400px;
}

#offer {
  position: relative;
  top: 400px;
}

@media only screen and (max-width: 1000px) {
  .image-wrapper {
    display: none;
  }
  .image-wrapper4 {
    display: none;
  }

  #demo {
    position: relative;
    color: yellowgreen;
    top: 300px;
  }

  #offer {
    position: relative;
    top: 300px;
  }

  body {
    overflow: hidden;
    background-size: cover;
    align-items: center;
    min-height: 80vh;
  }

  body::before {
    overflow: hidden;
    width: 100vw; /* Use viewport width to cover the visible area */
    height: 100vh; /* Use viewport height to cover the visible area */
  }

  .image-wrapper2 {
    margin-bottom: 5px;
  }

  .image-wrapper2 img {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 1%;
    bottom: 70px;
  }

  #formButton {
    margin-top: 300px;
  }

  .image-wrapper4 img {
    display: none;
  }
}
