body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: hidden;
  background-image: url("BG.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  min-height: 100vh;
  position: relative;
  color: white;
}

.content {
  max-width: 800px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
}

body::before {
  content: "";
  position: fixed; /* Change to fixed to cover only the visible area */
  top: 0;
  left: 0;
  margin: 0;
  width: 100vw; /* Use viewport width to cover the visible area */
  height: 100vh; /* Use viewport height to cover the visible area */
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}
/* .main {
  position: absolute;
  justify-content: center;
  display: flex;
}
.heading {
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
} */

.image-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  /* Adjust the height of the image wrapper as needed */
  z-index: 1; /* Set a higher z-index to bring the image to the front */
}

.image-wrapper img {
  display: block;
  width: 40%;
  height: 100%;
  object-fit: scale-down;
  margin-top: 50px;
}

.image-wrapper2 {
  position: relative;
  top: 2px;
  margin-bottom: 0rem;
  width: 100%; /* Adjust the width of the image wrapper as needed */
  height: 500px; /* Adjust the height of the image wrapper as needed */
  z-index: 1; /* Set a higher z-index to bring the image to the front */
}

.image-wrapper2 img {
  position: absolute;
  display: flex;
  width: 100%;
  object-fit: scale-down;
  margin-top: 0px;
  padding: 1%;
}

.image-wrapper4 {
  position: absolute;
  top: 300px;
  left: 700px;
  width: 750px; /* Adjust the width of the image wrapper as needed */
  height: 110%; /* Adjust the height of the image wrapper as needed */
  z-index: 1;
  display: flex;
  flex: 1;
  float: right;
  justify-content: right; /* Set a higher z-index to bring the image to the front */
}
.main {
  position: absolute;
  justify-content: center;
}
.heading {
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}
.image-wrapper4 img {
  display: flex;
  width: 30%;
  height: 30%;
  object-fit: scale-down;
}

.image-wrapper5 img {
  display: block;
  width: 65%;
  height: 65%;
  object-fit: scale-down;
}

.image-wrapper5 {
  position: absolute;
  top: 50px;
  width: 100%; /* Adjust the width of the image wrapper as needed */
  height: 1200px; /* Adjust the height of the image wrapper as needed */
  z-index: 1; /* Set a higher z-index to bring the image to the front */
}

@media only screen and (max-width: 1000px) {
  .texts {
    bottom: 70px;
  }
  .image-wrapper {
    display: none;
  }
  .image-wrapper4 {
    display: none;
  }

  body {
    overflow: hidden;
    background-size: cover;
    align-items: center;
    min-height: 100vh;
  }

  body::before {
    overflow: hidden;
    width: 100vw; /* Use viewport width to cover the visible area */
    height: 100vh; /* Use viewport height to cover the visible area */
  }

  .image-wrapper2 {
    position: relative;
    top: 0px;
    margin-bottom: 0rem;
    width: 80%; /* Adjust the width of the image wrapper as needed */
    height: 400px; /* Adjust the height of the image wrapper as needed */
    z-index: 1; /* Set a higher z-index to bring the image to the front */
  }

  .image-wrapper2 img {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 1%;
  }
  .image-wrapper5 img {
    display: block;
    width: 50%;
    height: 50%;
    object-fit: scale-down;
  }

  .image-wrapper5 {
    position: absolute;
    top: 0px;
    bottom: 150px;
    width: 100%; /* Adjust the width of the image wrapper as needed */
    height: 1200px; /* Adjust the height of the image wrapper as needed */
    z-index: 1; /* Set a higher z-index to bring the image to the front */
  }

  .image-wrapper4 img {
    display: none;
  }
}
